@import '../../../../assets/SCSS/partials/variables';

.product-card-sm {
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
  position: relative;
  display: flex;
  margin-top: 10px;
  overflow: hidden;
}

.btn-compare {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 5px;
}



.product-tag-blue,
.product-tag-green {
  position: absolute;
  right: 68px;
  top: 10px;
  border-radius: 13px;
  margin: 0;
  font-size: 12px;
  padding: 6px;
  width: 42px;
  text-align: center;
  height: 28px;
}


.product-tag-blue {
  background-color: $primary;
  color: $white;
}

.product-tag-green {
  background-color: $secondary;
  color: $white;
}

.product-card-sm_image {
  height: 140px;
  margin-left: 15px;
  img {
    height: 100%;

  }
}

.product-card-sm_info {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 15px;
}

.product-card-sm_discount {

  .product-card-sm_discount-old {
    margin: 0;
    font-size: 16px;
    color: $deviderGray;
    text-decoration: line-through;
  }
  .product-card-sm_discount-new {
    margin: 0;
    color: $primary;
    font-size: 16px;
  }
}

.product-card-price {
  margin: 0;
  color: $primary;
  font-size: 16px;
}

.product-card-sm_product-title {
  margin: 0;
  color: $textBlack;
  font-size: 16px;
  font-weight: bold;
}

.product-card-cta {
  margin-top: auto;
  color: $primary;

  button {
    padding: 0;

    &:first-child {
      margin-left: auto;
      color: $primary;
    }

    &:last-child {
      margin-right: 15px;
    }
  }
}