@import './variables';

@import "bootstrap";

h1 {
  font-size: 24pt;
}

h2, h2, h3, h4 {
  font-size: 18pt;
}

h5 {
  font-size: 16pt;
}

body, p, a, span, li {
  font-size: 14pt;
}

.btn-primary {
  // background-color: ;
}

.btn-primary_custom {
  background-color: $btnBG;
  color: $primary;
}

.input-icons {
  position: relative;

  .icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  input {
    padding-right: 50px;
    border: 0;
    outline: none;
  }
}

.p-0 {
  padding: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.banner-container {
  .slick-prev {
    right: 25px;
    z-index: 100;
  }

  .slick-next {
    left: 25px;
    z-index: 100;
  }
}