$primary: #302ca2;
$primaryAccent: #23114f;
$secondary: #26a37c;
$textBlack: #042429;
$btnBG: #efedf8;

$deviderGray: #b7aeca;
$white: #ffffff;
$yellowStar: #ffe621;
$grayStar: #eaeaea;
$grayBG: #f6f6f6;

$md: 991px;
